<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="main">ANGULAR NEWS PORTAL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="main">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="admin">Admin</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<footer>
  <div class="container">
      <div class="row">
          <div class="col-md-12 text-center">

              <div class="site-logo">ANGULAR NEWS PORTAL</div>

              <p class="mb-2 mt-2">Copyright © 2023 Angular News Portal</p>

          </div>
      </div>
  </div>
</footer>
