<div class="card flex" style="margin-bottom: 20px;">
    <div class="card-header" style="background-color:skyblue">
        <strong>News List</strong>
        <button type="button" class="btn btn-primary btn-sm" (click)="onAddNews()" style="float: right;">
        Add News
        </button>
    </div>

    <div class="card-body flex">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="text-align: center; width: 5%;">No.</th>
                            <th style="text-align: center;">Title</th>
                            <th style="text-align: center;">Content</th>
                            <!-- <th style="text-align: center;">Image</th> -->
                            <th style="text-align: center;">Category</th>
                            <!-- <th style="text-align: center;">Publish Date</th> -->
                            <th style="text-align: center; width: 15%;">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <ng-container *ngFor="let item of newsArr; let i = index">
                          <tr >
                            <td style="text-align: center;">{{i+1}}</td>
                            <td>{{item.title}}</td>
                            <td>{{item.content}}</td>
                            <td>{{item.category}}</td>
                            <td style="text-align: center;">
                              <button type="button" class="btn btn-warning" (click)="edit(item.newsId)">Edit</button>&nbsp;
                              <button type="button" class="btn btn-danger" (click)="delete(item.newsId)">Delete</button>
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>

                </table>
            </div>
        </div>
    </div>
</div>